 $system mwords=10 memddi=100 parall=.t. $end
 $contrl scftyp=rhf runtyp=eds icharg=0 mult=1 units=angs
         maxit=100 nprint=7 exetyp=run mplevl=2 ispher=1
         icut=20 itol=30 aimpac=.f. cctyp=none $end
 $eds    mch(1)=0,0 mmul(1)=1,1 mnr(1)=3 $end
 $mp2    mp2prp=.t. code=ddi cutoff=1d-20 $end
 $ccinp  iconv=14 maxcc=100 $end
 $trans  cuttrf=1d-15 $end
 $scf    dirscf=.t. fdiff=.f. diis=.t. soscf=.f.
         conv=1d-11 swdiis=0.0001 npreo(1)=0,-1,1,9999 $end
 $basis  gbasis=ccd $end
@data
